<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="33078DEMIANFlavius-Radu.MobileServices" Publisher="CN=8AF43704-66DE-471F-9C03-2AD103553F12"  Version="1.1.0.0"/>
  <Properties>
    <DisplayName>MobileServices</DisplayName>
    <PublisherDisplayName>DEMIAN Flavius-Radu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="W8MOBILESERVICESDEMO" Executable="$targetnametoken$.exe" EntryPoint="demoflavius.App">
      <m2:VisualElements DisplayName="MobileServices" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="demoflavius" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m2:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.jpg" />
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="W8Tasks.MessagesUpdaterTask">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>